{% extends 'master' %}

{% block scripts %}
 <script src="/scripts/ajaxDelete.js"></script>
 {% endblock %}

{% block content %}

<div class="row">
    
<h2>{{currentUser.username}}</h2>
<form action="{{currentUser.id}}/edit">
    <button type="submit" class="btn btn-success">edit profile</button>
    </form>
  <h3>{{currentUser.username}}'s issues: </h3>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Issue name</th>
        <th>Start date</th>
        <th>Assignee </th>
        <th>Description </th>
      </tr>
    </thead>
    <tbody>
        {% for i in issues %}
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.created_at }}</td>
        <td>{{ i.assignee }}</td>
        <td>{{ i.started }}</td>
        <td>
        
        </td>
      </tr>
    {% endfor %}      
    </tbody>
  </table>
<h3>{{currentUser.username}}'s worklogs: </h3>   
<table class="table table-hover">
    <thead>
      <tr>
        <th>Worklog description</th>
        <th>timeworked</th>
        <th>assignee_id</th>
        <th>issue_id</th>
      </tr>
    </thead>
    <tbody>
        {% for w in worklogs %}
      <tr>
        <td>{{ w.description }}</td>
        <td>{{ w.timeworked }}</td>
        <td>{{ w.assignee_id }}</td>
        <td>{{ w.issue_id }}</td>
        <td>
        <form action="/removewlog/{{w.id}}" method="GET" id="deleteWlogForm">
      {{ csrfField }}
      <button type="submit" class="btn btn-danger">Remove worklog</button>    
  </form>
        </td>
      </tr>
    {% endfor %}      
    </tbody>
  </table>
  
</div>

<span class="help-block"></span>
 
 <div class="modal fade confirm-modal" tabindex="-1" role="dialog" id="deleteConfirmModal">
     <div class="modal-dialog modal-sm" role="document">
         <div class="modal-content">
         <div class="modal-body">
             Are you sure?
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">Yes</button>
             <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Cancel</button>
         </div>
         </div>
     </div>
 </div>
{% endblock %}
