{% extends 'master' %}

{% block content %}

<div class="row">
    
<h2>{{currentUser.username}}</h2>

  <h3>{{currentUser.username}}'s issues: </h3>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Issue name</th>
        <th>Start date</th>
        <th>Assignee </th>
        <th>Description </th>
      </tr>
    </thead>
    <tbody>
        {% for i in issues %}
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.created_at }}</td>
        <td>{{ i.assignee }}</td>
        <td>{{ i.started }}</td>
        <td>
        
        </td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}